.navbar {
	background-color: #a654cc;
}

.navbar-nav {
	margin-left: 700px;
}


html { 
	height: 100%; 
}

body { 
	height: 100%; 
	margin: 0; 
	padding: 0;
}

#map-canvas { 
	height: 512px; 
	width: 512px;
}